<h2 class="mat-headline">{{ title }}</h2>
<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="12px"
  width="100%"
>
  <mat-card
    fxLayout="column"
    *ngFor="let item of history"
  >
    <mat-card-header [class.m-card-header-bordered]="item.details?.length">
      <img
        matCardAvatar
        [src]="item.location?.logo | imageUrl : 'history'"
        (click)="goTo(item.url)"
        style="cursor: pointer"
        [alt]="item.location?.name"
        [name]="item.location?.name"
      />
      <mat-card-title>
        <div class="mat-title">{{ item.title }}</div>
      </mat-card-title>
      <mat-card-subtitle>
        <div
          class="mat-subheading-2"
          fxLayout="row"
          fxLayoutAlign="baseline"
          fxLayoutGap="8px"
        >
          <div>{{ item.location?.name }}</div>
          <div class="separator">|</div>
          <div class="dates">
            {{ item.dates[0] }} &ndash; {{ item.dates[1] }}
          </div>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="item.details?.length">
      <div [ngSwitch]="hasSections(item.details)">
        <div *ngSwitchCase="true">
          <ng-template
            ngFor
            let-detail
            [ngForOf]="item.details"
          >
            <h5 class="mat-body-2">{{ detail.title }}</h5>
            <ul class="mat-body-1 history-details">
              <li *ngFor="let item of detail.items">{{ item }}</li>
            </ul>
          </ng-template>
        </div>
        <ul
          class="mat-body-1 history-details"
          *ngSwitchCase="false"
        >
          <li *ngFor="let detail of item.details">{{ detail }}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>