<div class="flexRow flexAlignBetween flexJustifyCenter">
  <h2 class="mat-headline no-margin flexAuto">Skills</h2>
  <button color="primary" mat-icon-button (click)="toggleAccordion()">
    <mat-icon
      fontIcon="{{ !allCollapsed ? 'compress' : 'expand-all' }}"
    ></mat-icon>
  </button>
</div>
<mat-accordion #skillAccordion="matAccordion" multi="true">
  @for (skill of skills; track skill) {
  <mat-expansion-panel [(expanded)]="skill.isExpanded" style="padding: 0">
    <mat-expansion-panel-header class="mat-body-2">{{
      skill.section
    }}</mat-expansion-panel-header>
    <mat-action-list dense style="margin: 0 -24px" role="list">
      @for (item of skill.items; track item) {
      <!-- <li> -->
      <button
        mat-list-item
        (click)="goTo(item.url)"
        target="_blank"
        matTooltip="{{ item.description }}"
        matTooltipPosition="right"
      >
        <img
          matListItemAvatar
          [src]="item.name | snakeCase | imageUrl : 'skills'"
          style="background-color: transparent; border-radius: 0"
        />
        <h3 matListItemTitle class="mat-body-1">
          {{ item.name }}
        </h3>
      </button>
      <!-- </li> -->
      }
    </mat-action-list>
  </mat-expansion-panel>
  }
</mat-accordion>
