:host {
  display: flex;
  flex-direction: column;
  > *:not(:last-child) {
    margin-bottom: 12px;
  }
}

mat-expansion-panel {
  background-color: white;
}

.mat-list-avatar {
  height: 30px;
  border-radius: 0 !important;
}

mat-list[dense] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  mat-list-item.mat-list-item {
    overflow: hidden;
    display: inline-flex;
    transition: all 500ms ease-in-out;
    font-size: 14px;
  }
}

@media screen and (max-width: 959px) {
  mat-list[dense] mat-list-item.mat-list-item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
