:root {
  --blue: #007bff;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --default: #f8f9fa;
  --secondary: #6c757d;
  --info: #17a2b8;
  --dark: #0d1215;
  --medDark: #1f2d3a;
  --med: #355258;
  --medLight: #427a6b;
  --light: #6d905c;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-auto {
  flex: 1 1 50%;
}
.jobsubtitle span:nth-child(2) {
  opacity: 0.8;
}
.jobsubtitle span:nth-child(2),
span.jobcity {
  color: var(--medLight);
}
.jobdates {
  flex: 0 0 80px;
  margin-top: 2.5px;
}
.jobheading {
  margin: 5px -15px;
  padding: 5px 15px;
  background-color: #eee;
  height: 55px;
}
.jobheading .flex-column {
  justify-content: center;
}
.jobline {
  padding-left: 80px;
}
.jobline p {
  font-weight: 500;
  margin: 5px 0 2.5px;
}
.jobline p:first-child {
  margin-top: 0;
}
.jobtitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--med);
  margin-bottom: 2.5px;
}
.locationGap,
.degreeGap,
.companyname {
  color: #6d905c;
  font-size: 1.05rem;
}
.companyname {
  font-weight: 500;
  color: var(--light);
}
#document.skn-srz1 {
  color: #343434;
  font-variant-ligatures: none;
  line-height: 16px;
  min-height: 792px;
  box-sizing: border-box;
  line-height: 18px;
}
#document.skn-srz1.pagesize {
  width: 100% !important;
  margin: 0 !important;
  min-width: 600px !important;
  height: 100%;
  min-height: 100vh;
}
#document.skn-srz1.pagesize .parentContainer {
  height: 100%;
  position: relative;
}
#document.skn-srz1.pagesize .parentContainer .left-box {
  height: 100%;
}
#document.skn-srz1 body,
#document.skn-srz1 div,
#document.skn-srz1 span,
#document.skn-srz1 html {
  font-family: 'Fira Sans Condensed', sans-serif;
}
#document.skn-srz1 .heading {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 10px;
}
#document.skn-srz1 .sectiontitle {
  font-weight: 700;
  word-break: break-word;
  font-size: 1.35rem;
  line-height: 1.5rem;
}
#document.skn-srz1 .name {
  font-weight: 700;
  padding: 0;
  position: relative;
  text-align: left;
  word-wrap: break-word;
  font-size: 2rem;
  line-height: 35px;
}
#document.skn-srz1 .paragraph + .paragraph {
  margin-top: 15px;
}
#document.skn-srz1 .paragraph-container {
  margin-bottom: 15px;
}
#document.skn-srz1 .left-box {
  background: var(--dark) !important;
  display: table-cell;
  padding: 15px;
  box-sizing: initial;
  background: var(--medDark);
  width: 240px;
  font-size: 0.95rem;
}
#document.skn-srz1 .left-box .heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 15px;
  position: relative;
  color: white;
}
#document.skn-srz1 .left-box .section {
  position: relative;
  color: #fff;
}
#document.skn-srz1 .left-box .section + .heading {
  margin-top: 15px;
}
#document.skn-srz1 .right-box {
  display: table-cell;
  letter-spacing: 0.2px;
  padding: 15px;
  vertical-align: top;
}
#document.skn-srz1 .right-box .section:not(:first-child) {
  margin-top: 10px;
}
#document.skn-srz1 .right-box .section:first-child {
  padding-top: 0;
}
#document.skn-srz1 .right-box .section .overview {
  font-size: 1.05rem;
  line-height: 1.5rem;
}
#document.skn-srz1 .right-box .heading {
  background-color: var(--medLight);
  padding: 7.5px 15px;
  outline-color: transparent;
  margin: 0 -15px 5px;
}
#document.skn-srz1 .right-box .sectiontitle {
  font-size: 1.5rem;
  color: white;
}
#document.skn-srz1 .right-box .paddedline.date-content {
  position: absolute;
  margin-left: 0;
  width: 70px;
  left: -91px;
}
#document.skn-srz1 .right-box .maincolumn,
#document.skn-srz1 .right-box .singlecolumn,
#document.skn-srz1 .right-box .summary .paragraph .singlecolumn {
  margin-left: 0px;
}
#document.skn-srz1 .right-box .paragraph .singlecolumn {
  margin-left: 91px;
}
#document.skn-srz1 ol {
  list-style: none;
}
#document.skn-srz1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#document.skn-srz1 ul li {
  margin: 0 0 0 16px;
  padding: 0;
}
#document.skn-srz1 li {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}
#document.skn-srz1 .paddedline {
  display: block;
}
#document.skn-srz1 .mt5 {
  margin-top: 5px;
}
#document.skn-srz1 .txtRight {
  text-align: right;
}
#document.skn-srz1 .address .singlecolumn {
  margin-left: 0 !important;
}
#document.skn-srz1 .firstsection {
  padding-top: 0 !important;
}
#document.skn-srz1 .section:empty {
  display: none;
}
#document.skn-srz1 .section .body {
  padding: 2.5px 0;
}
#document.skn-srz1 .parentContainer {
  border-collapse: collapse;
  display: table;
  min-height: inherit;
  table-layout: fixed;
  width: 100%;
}
#document.skn-srz1 .paragraph .singlecolumn {
  position: relative;
}
#document.skn-srz1 .education .joblocation {
  font-style: italic;
}
#document.skn-srz1 > div {
  min-height: inherit;
}
#document.skn-srz1 .paragraph.datespara:after {
  content: '';
  display: table;
  clear: both;
}
#document.skn-srz1 .firstparagraph {
  margin-top: 0 !important;
}
#document.skn-srz1 .singlecolumn,
#document.skn-srz1 .maincolumn {
  word-wrap: break-word;
}
#document.skn-srz1 .degree,
#document.skn-srz1 .programline {
  font-size: 14px;
}
#document.skn-srz1 .resumeTitle {
  opacity: 0.8;
  font-size: 1.05rem;
  color: #989a9c;
  margin: 5px 0 7.5px;
}
.sb-item > i {
  margin-right: 2.5px;
  width: 15px;
  display: inline-block;
  text-align: center;
  color: #6d905c;
  position: relative;
}
.sb-item > i::before {
  text-align: center;
}
.subheading {
  display: block;
  margin-top: 10px;
  font-size: 1.05rem;
  background-color: #1f2d3a;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 15px;
  position: relative;
  font-weight: 500;
}
.sb-item {
  line-height: 1.75rem;
}
* {
  box-sizing: border-box;
  transition: color 0.2s, background-color 0.25s, border-color 0.5s, opacity 0.25s;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
html {
  background: #fff;
  color: #58585f;
  font-size: 14px;
  height: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  height: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
  font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" off;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.align-baseline {
  vertical-align: baseline !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-table {
  display: table !important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
.position-static {
  position: static !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-fixed {
  position: fixed !important;
}
.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-italic {
  font-style: italic !important;
}
.text-white {
  color: #fff !important;
}
.text-light {
  color: #f8f9fa !important;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}
ul {
  list-style: none;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
ul ul,
ul ol {
  margin-bottom: 0;
}
.list-bullet {
  list-style-type: none;
  font-size: 15px;
}
.list-bullet > li::before {
  content: "â€¢";
  padding-right: 15px;
}
.list-col-2 {
  padding-left: 30px;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  margin-bottom: 0;
}
@-ms-viewport {
  width: device-width;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
figure {
  margin: 0 0 1rem;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
ol ol,
ol ul {
  margin-bottom: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
dt {
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
blockquote {
  margin: 0 0 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
dfn {
  font-style: italic;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
b,
strong {
  font-weight: bolder;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
small {
  font-size: 80%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  bottom: -0.25em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  top: -0.5em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
a {
  color: #3a96f0;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: none;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
}
pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
th {
  text-align: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
progress {
  vertical-align: baseline;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
#document.SRZ1.paragraph-container .para-tool {
  left: -64px !important;
}
#document.SRZ1 .section-container.active .section-overlay,
#document.SRZ1 .paragraph-container.active .para-overlay {
  left: -63px !important;
}
#document.SRZ1 .left-box #document.SRZ1.section-container .section {
  padding-top: 0;
}
.skin-srz1 {
  background-image: url(https://configservicestorage.blob.core.windows.net/livecareerrepository/SkinImages/srz1.png);
}
div,
span,
applet,
object,
iframe,
abbr,
acronym,
big,
cite,
del,
em,
font,
ins,
q,
s,
strike,
tt,
var,
u,
i,
center,
li,
fieldset,
form,
legend,
tbody,
tfoot,
thead,
tr,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
