@keyframes write {
  from {
    stroke-dashoffset: 500;
  }

  to {
    stroke-dashoffset: 0;
  }
}

#hello path {
  animation: write 0.85s linear forwards;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  @for $i from 1 through 17 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 325ms;
      // @if $i == 4 {
        
      // } @else if $i > 7 {
      //   animation-delay: $i * 430ms;
      // } @else {
      //   animation-delay: $i * 390ms;
      // }
    }
  }
}
