@keyframes write {
  from {
    stroke-dashoffset: 480;
  }

  to {
    stroke-dashoffset: 0;
  }
}

#hello path {
  animation: write 1s linear forwards;
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      @if $i == 4 {
        animation-delay: $i * 440ms;
      } @else if $i > 7 {
        animation-delay: $i * 540ms;
      } @else {
        animation-delay: $i * 500ms;
      }
    }
  }
}
