<div fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar class="mat-elevation-z2 resume-toolbar">
    <mat-toolbar-row>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <button mat-icon-button (click)="goBack()">
          <mat-icon svgIcon="back"></mat-icon>
        </button>
        <img class="avatar" src="assets/img/me.png" />
        <span
          fxFlex
          [class]="media.isActive('xs') ? 'mat-title' : 'mat-display-1'"
          >Kailin Johnson</span
        >
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav
      class="skills-sidenav"
      position="left"
      #sidenav
      [mode]="screenIsXsOrSm ? 'over' : 'side'"
      [opened]="sidenavOpen"
    >
      <section class="section-padded">
        <app-skills></app-skills>
      </section>
    </mat-sidenav>
    <mat-sidenav-content class="resume-content">
      <ng-scrollbar
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="16px"
      >
        <!-- <div class="scroll-content"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             fxLayoutGap="16px"> -->
        <section>
          <h2 class="mat-headline">Overview</h2>
          <mat-card>
            <p class="mat-body-1">{{ overview }}</p>
          </mat-card>
        </section>
        <section>
          <app-history title="Experience" [history]="experience"></app-history>
        </section>
        <section>
          <app-history title="Education" [history]="education"></app-history>
        </section>
        <section *ngIf="screenIsXsOrSm">
          <app-skills></app-skills>
        </section>
        <!-- </div> -->
      </ng-scrollbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
