<div class="flexColumn flexAlignStart flexJustifyStretch flexGrow">
  <mat-sidenav-container>
    <mat-sidenav
      class="skills-sidenav"
      position="start"
      #sidenav
      [mode]="screenIsXsOrSm ? 'over' : 'side'"
      [opened]="sidenavOpen"
    >
      <section class="section-padded">
        <app-skills></app-skills>
      </section>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="flexColumn flexAlignStretch flexGap16">
        <section>
          <div class="flexRow flexGap12">
            <img
              class="avatar round"
              src="assets/img/me.jpeg"
              height="150"
              alt="Kailin Johnson profile photo"
            />
            <div class="flexColumn flexGap8">
              <div [class]="media.isXs ? 'mat-headline' : 'mat-display-1'">
                Kailin Johnson
              </div>
              <div class="mat-subheading-2">{{ overview }}</div>
            </div>
          </div>
        </section>
        <section>
          <app-history title="Experience" [history]="experience"></app-history>
        </section>
        <section>
          <app-history title="Education" [history]="education"></app-history>
        </section>
        @if (screenIsXsOrSm) {
        <section>
          <app-skills></app-skills>
        </section>
        }
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
