// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

$kj-primary: mat.define-palette(mat.$pink-palette, 700, 500, 900);
$kj-accent: mat.define-palette(mat.$amber-palette);

$kj-warn: mat.define-palette(mat.$red-palette);

$kj-typography: mat.define-typography-config(
  $font-family: "Chivo, Roboto, monospace",
);

$kj-theme: mat.define-dark-theme(
  (
    color: (
      primary: $kj-primary,
      accent: $kj-accent,
      warn: $kj-warn,
    ),
    typography: $kj-typography,
  )
);

@include mat.core($kj-theme);
@include mat.all-component-themes($kj-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  color: white;
}

body {
  margin: 0;
  background-image: url("./assets/img/rainbow-vortex.svg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

// Custom Angular Material variations

.mat-list-base[dense] .mat-list-item.m-list-item-lg {
  font-size: 14px;
}

.mat-card,
.mat-expansion-panel,
.mat-drawer {
  background: rgb(0 0 0 / 35%);
  color: rgb(255 255 255 / 90%);
  .mat-body-1,
  .mat-body-1 li {
    font-size: 16px;
    line-height: 1.5;
  }
}

.mat-card-avatar.m-card-avatar-lg {
  height: 64px;
  width: 64px;
  &:hover {
    cursor: pointer;
  }
}

.mat-display-3,
.mat-typography .mat-display-3 {
  font-size: 80px;
  line-height: 1;
}

// Angular Material overrides

// Offset mat-card-title margin bottom
mat-card > mat-card-header:first-child:last-child .mat-card-subtitle {
  margin-bottom: 0;
}

// Decrease padding in list within expansion-panel
.mat-expansion-panel .mat-expansion-panel-body .mat-list.mat-list-base {
  padding: 0;

  .mat-list-item-content {
    padding: 0;
  }
}

.mat-card-subtitle > div:not(:last-child) {
  margin-bottom: 3px;
}

// Custom global styles

ul {
  padding-left: 14px;

  > li {
    margin-bottom: 6px;
  }
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.no-margin {
  margin: 0;
}

.section-padded {
  padding: 12px;
}
