// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: "Chivo, Roboto, sans-serif",
        brand-family: "Chivo, Roboto, sans-serif",
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
}

:root {
  @include mat.sidenav-overrides(
    (
      container-background-color: #ffffff50,
    )
  );
  @include mat.list-overrides(
    (
      list-item-label-text-size: 14px,
      list-item-hover-state-layer-color: #ffffff20,
    )
  );
}

.mat-title {
  font: var(--mat-sys-title-medium);
}
.mat-subheading-1 {
  font: var(--mat-sys-title-medium);
}
.mat-subheading-2 {
  font: var(--mat-sys-title-medium);
  font-weight: 400;
}
.mat-headline {
  font: var(--mat-sys-headline-medium);
}
.mat-body-1 {
  font: var(--mat-sys-body-medium);
}
.mat-body-2 {
  font: var(--mat-sys-body-medium);
  font-weight: 500;
}
.mat-display-1 {
  font: var(--mat-sys-display-medium);
}
.mat-display-2 {
  font: var(--mat-sys-display-small);
}
.mat-display-3 {
  font: var(--mat-sys-display-large);
}
.mat-display-4 {
  font: var(--mat-sys-display-large);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  color: white;
}

body {
  margin: 0;
  background-image: url("./assets/img/cool-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  // background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  // background-size: "400% 400%";
  // animation: "gradient 25s ease infinite";
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Custom Angular Material variations

.mat-list-base[dense] .mat-list-item.m-list-item-lg {
  font-size: 14px;
}

.mat-expansion-panel,
.mat-drawer {
  background: rgb(255 255 255 / 35%);
}

.mat-card {
  background: rgb(255 255 255 / 65%);
  border-radius: 10px !important;
  .mat-body-1,
  .mat-body-1 li {
    font-size: 16px;
    line-height: 1.5;
  }
}

$avatarSize: 64px;
.mat-card-avatar.m-card-avatar-lg {
  height: $avatarSize;
  width: $avatarSize;
  &:hover {
    cursor: pointer;
  }
}

.mat-display-3,
.mat-typography .mat-display-3 {
  font-size: 80px;
  line-height: 1;
}

// Angular Material overrides

// Offset mat-card-title margin bottom
mat-card > mat-card-header {
  &:first-child:last-child .mat-card-subtitle {
    margin-bottom: 0;
  }
}

// Decrease padding in list within expansion-panel
.mat-expansion-panel .mat-expansion-panel-body .mat-list.mat-list-base {
  padding: 0;

  .mat-list-item-content {
    padding: 0;
  }
}

.mat-card-subtitle > div:not(:last-child) {
  margin-bottom: 3px;
}

// Custom global styles

ul {
  padding-left: 14px;

  > li {
    margin-bottom: 6px;
  }
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.no-margin {
  margin: 0;
}

.section-padded {
  padding: 12px;
}

// Flex layout replacement for Angular 15+

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexGap8 {
  gap: 8px;
}
.flexColumnGap8 {
  column-gap: 8px;
}
.flexRowGap8 {
  row-gap: 8px;
}
.flexGap12 {
  gap: 12px;
}
.flexGap16 {
  gap: 16px;
}
.flexCenter {
  justify-content: center;
  align-items: center;
}
.flexAlignCenter {
  align-items: center;
}
.flexAlignBaseline {
  align-items: baseline;
}
.flexAlignBetween {
  align-items: space-between;
}
.flexAlignStart {
  align-items: flex-start;
}
.flexAlignEnd {
  align-items: flex-end;
}
.flexJustifyCenter {
  justify-content: center;
}
.flexJustifyStart {
  justify-content: flex-start;
}
.flexJustifyEnd {
  justify-content: flex-end;
}
.flexJustifyStretch {
  justify-content: stretch;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexNowrap {
  flex-wrap: nowrap;
}
.flexFill {
  flex: 1 1 auto;
}
.flexGrow {
  flex-grow: 1;
}
.flexShrink {
  flex-shrink: 1;
}
.flexNoGrow {
  flex-grow: 0;
}
.flexNoShrink {
  flex-shrink: 0;
}
.flexAuto {
  flex: 1 1 auto;
}
.flexNone {
  flex: none;
}
