:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;

  * {
    text-align: center;
  }
}

.intro {
  max-height: 170px;
}

.description {
  width: 80%;
  font-weight: 300;
}

[mat-flat-button] {
  font-size: 24px;
  padding: 1rem 1.5rem;
  border-radius: 40px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .description {
    width: 90%;
  }
  .intro {
    max-height: unset;
  }
  [mat-flat-button] {
    font-size: 18px;
    padding: 0.75rem 1rem;
  }
}
