<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <h1
    [class.mat-display-2]="screen.isXs"
    [class.mat-display-3]="screen.isSm"
    [class.mat-display-4]="!screen.isXsOrSm"
    class="intro"
  >
    <div
      [fxLayout]="screen.isXs ? 'column' : 'row'"
      fxLayoutAlign="center center"
      fxLayoutWrap
    >
      <div class="hello-im">Hello! I'm Kailin.</div>
    </div>
  </h1>
  <h3
    class="description"
    [class.mat-display-2]="!screen.isXsOrSm"
    [class.mat-display-1]="screen.isSm"
    [class.mat-headline]="screen.isXs"
  >
    A senior developer & designer based in Chicago.
  </h3>
  <div
    class="buttons"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <button color="primary" mat-flat-button [routerLink]="['/resume']">
      Learn more
    </button>
  </div>
</div>
